p {
    color:violet;
    font-size:20px;
    font:verdana;
}
.p1 {
    color: red;
    font:sans-serif;
    font-size:20px;
}
#p2 {
    color: blue;
    font:Ubuntu;
    font-size:20px;
}
* {
    color: green;
    font:swiss;
    font-size:20px;
}

